.block {
  margin-bottom: 16px;
}

.companyName {
  color: #0077B5;
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* height: 296mm; */
  width: 210mm;
}

.columnsContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 12mm;
  margin-right: 12mm;
  margin-top: 6mm;
}

.date {
  font-size: 11px;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 5px;
  margin-left: 10px;
}

.job {
  font-size: 13px;
  font-weight: 300;
  margin-top: 5px;
  text-align: justify;
}

.paragraph {
  font-size: 13px;
  font-weight: 300;
  text-align: justify;
}

.subTitle {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}

.jobList {
  list-style: disc;
  margin: 0;
  padding-left: 20px;
}

.jobEntry {
  margin-bottom: 10px;
}

.companyName {
  margin: 0;
}

.paragraph {
  margin: 0;
}
